/* navbar{
    
} */
.pf {

    position: relative;
    float: left;
    text-align: center;
    margin: 10px;
}

.portfolios {
    overflow: auto;
}

.pftitle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: teal;
    width: 320px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.pftitle a {
    color: white;
    text-decoration: none;
  }
  .pftitle a:hover {
    background-color: white;
    color: teal;
  }